#
# --- Configuration parameters ---
#
# GIT_TYPE      = "azure" for Azure, blank otherwise
# GIT_USER_NAME = username for remote git repository
# GIT_PASSWD    = password to connect to remote git repository
# GIT_URL       = URL that points to the remote git repository
#                 examples:
#                   Git repositories   example URL
#                   ----------------   --------------------------------
#                   gitlab             https://gitlab.com/GIT_USER_NAME
#                   github             https://github.com/GIT_USER_NAME
#                   gitea (localhost)  http://localhost:3000/GIT_USER_NAME
#
#
# LOG_LOCATION  = location of the bcgithook log file, default to $HOME
#
# LOG_SYSTEM_REPOS = [yes|no], set to "yes" to log access to PAM system
#                              repositories, increases verbosity
#
# BRANCH_DENY=master,release
# BRANCH_ALLOW=br2,feature/fa
# BRANCH_ALLOW_IS_REGEX = [true|false], default false, set to "true" when the BRANCH_ALLOW field contains a regular expression
#
# Optional allow and deny list for branches
# Specify a comma-separated list of branches, or a regular-expression when the BRANCH_ALLOW_IS_REGEX flag is true.  Use quotes when using regular expressions
#
#  - if BRANCH_ALLOW exists, only commits in branches in the list will be pushed to the remote repo
#  - if BRANCH_DENY exists, commits in branches in the list will not be pushed to the remote repo
#  - if both lists exist, BRANCH_DENY takes precedene
#
# Example:
# (a)
# - BRANCH_ALLOW=branch2,feature/fa
# - BRANCH_DENY=master,release
# Commits in branches "branch2" and "feature/fa" will be pushed to remote repo
# Commits in branches "master" and "release" will not be pushed to remote repo
#
# (b)
# - BRANCH_ALLOW=branch2,feature/fa
# - BRANCH_DENY=master,release,branch2
# Commits in branches "feature/fa" will be pushed to remote repo
# Commits in branches "master", "release" and "branch2" will not be pushed to remote repo
#
# (c)
# - BRANCH_ALLOW_IS_REGEX=true
# - BRANCH_ALLOW="^(branch2)|(feature/fa)$"
# - BRANCH_DENY=master,release
# Results in the same behavior as example (a) above, but with Regular Expressions
#
# Uncomment and modify as appropriate
#
# GIT_TYPE=""
# GIT_USER_NAME='bitbucket_id'
# GIT_PASSWD='passwd'
# GIT_URL='https://bitbucket_id@bitbucket.org/bitbucket_id'
# 
# GIT_TYPE="azure"
# GIT_USER_NAME='azure_id'
# GIT_PASSWD='passwd'
# GIT_URL='https://azure_id@dev.azure.com/azure_id/organisation_or_project/_git'
# 
# GIT_TYPE=""
# GIT_USER_NAME='github_id'
# GIT_PASSWD='passwd'
# GIT_URL='https://github.com/github_id'
# 
# GIT_TYPE=""
# GIT_USER_NAME='gitlab_id'
# GIT_PASSWD='passwd'
# GIT_URL='https://gitlab.com/gitlab_id'
# 
# GIT_TYPE=""
# GIT_USER_NAME='gitea_id'
# GIT_PASSWD='passwd'
# GIT_URL='http://localhost:3000/gitea_id'
#
# BRANCH_DENY=master,release
# BRANCH_ALLOW=br2,feature/fa
# 

LOG_LOCATION=$HOME
LOG_SYSTEM_REPOS=yes

