.right-align {
    text-align: right;
    float: right;
}

.pre-wrap {
    white-space: pre-wrap;
    font-size: 80%
}

form {
    margin-bottom: 2em;
    font-size: 120%;
}

.example-full-width {
    width: 100%;
}

.mat-hint{
    color: #999;
}

.fixed-font {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}

.spinner {
    margin: 0 auto 16px;
}

.mat-option {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}