/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~handsontable/dist/handsontable.full.css";
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

@include mat-core;

$md-featurewarn: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cb0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$primary: mat-palette($mat-blue);
$accent: mat-palette($mat-cyan);
$warn: mat-palette($md-featurewarn);
$second: mat-palette($mat-yellow);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$custom-typography: mat-typography-config($font-family: "'Overpass', sans-serif", $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(14px, 20px, 500));

@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Overpass", Roboto, "Helvetica Neue", sans-serif;
    font-size: mat-font-size($custom-typography, body-1);
    overflow: hidden;
}

.padding-right-16 {
    padding-right: 16px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-right-8 {
    margin-right: 8px !important;
}

.red-text {
    color: #cb0000;
}

.red-bg {
    background-color: #cb0000;
}

.handsontable thead th .relative {
    background-color: #ddd;
}

.primary-color {
    color: #2196f3;
}

.white {
    color: #fff;
}

.mat-expansion-panel-header .mat-content {
    margin-right: 16px;
}

.sub-menu {
    background-color: #333;

    .mat-menu-item {
        color: white;
    }
}
