.mat-expansion-panel {
    background-color: #eee;
    padding: 0;
}

table {
    width: 100%;
}

.red-border {
    border: 2px solid #CB0000;
}

.show-error {
    color: #CB0000;
}

.reddd {
    color: #CB0000;
}
