<mat-card>
  <div *ngFor="let statement of statementsForm; let idx=index">
    <div fxLayout="row" *ngIf="stepTitle==='BACKGROUND' && idx==0">
      <h3 class="primary-color">BACKGROUND (optional)</h3>
    </div>
    <div fxLayout="row">
      <div fxFlex="100px" class="right">
        <h4 *ngIf="idx==00">{{ stepTitle==='BACKGROUND' ? 'GIVEN' : stepTitle }}</h4>
        <h4 *ngIf="idx>0">{{ idx==0 ? stepTitle : "AND" }}</h4>
      </div>


      <div fxFlex="*" >
        <mat-form-field class="example-full-width">
          <input matInput [matAutocomplete]="auto" [formControl]="statement" (change)="onChange(statement.value, idx)"
            #trigger="matAutocompleteTrigger" (keydown.enter)="$event.target.blur(); trigger.closePanel()">
          <mat-autocomplete [displayWith]="displayFn" (optionSelected)="onChange(statement.value, idx)" #auto="matAutocomplete">
            <mat-option *ngFor="let step of filteredStepsStatements[idx] | async" [value]="step">
              {{step.text}}
            </mat-option>
          </mat-autocomplete>
          <button mat-button *ngIf="statement.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="statement.setValue('');onChange(statement.value, idx)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="statement.hasError('required')">
            <strong>statement required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="60px">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="align-right">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="(idx==statements.length-1 && statement.value.length>1 && (idx+1===statementsForm.length))"
            mat-menu-item (click)="add(idx)">
            <mat-icon>loupe</mat-icon>
            <span>add AND step</span>
          </button>
          <button *ngIf="idx>0" mat-menu-item (click)="remove(idx)">
            <mat-icon color="warn">delete_forever</mat-icon>
            <span>delete this step</span>
          </button>
          <button *ngIf="(!showDataTable[idx])" mat-menu-item (click)="addDataTable(idx)">
            <mat-icon>grid_on</mat-icon>
            <span>add Data Table</span>
          </button>
          <button color="warn" *ngIf="(showDataTable[idx])" mat-menu-item (click)="removeDataTable(idx)">
            <mat-icon color="warn">grid_off</mat-icon>
            <span>remove Data Table</span>
          </button>
        </mat-menu>
      </div>

    </div>

    <div fxLayout="row" *ngIf="showDataTable[idx]">
      <div fxFlex="100px" class="right">
      </div>

      <div fxFlex="*" >
        <div class="data-table">
          <app-data-table (saveDataInParent)="dataTableUpdate($event)" [tableDataIdx]="idx"
            [tableDataIn]="statements[idx].dataTable" [tableID]="stepTitle+scenarioIdx+idx"></app-data-table>
        </div>
      </div>

      <div fxFlex="60px"></div>

    </div>

  </div>

</mat-card>