<div fxLayout="row">
  <div fxFlex="*" class="right">
    <h1 mat-dialog-title>{{data.title}}</h1>
  </div>


  <div fxFlex="250px" class="right-align" *ngIf="remoteRepoList && remoteRepoList.length>0">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Placeholder" [(ngModel)]="searchText">
      <!-- <mat-icon *ngIf="!searchText" matSuffix>search</mat-icon> -->
      <button mat-button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon *ngIf="searchText" (click)="searchText=''">close</mat-icon>
        <mat-icon *ngIf="!searchText">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  
</div>

<div mat-dialog-content class="mat-typography min-height">

  <div *ngIf="!remoteRepoList || showSpinner">
    <mat-spinner color="warn" class="spinner"></mat-spinner>
  </div>

  <mat-list *ngIf="remoteRepoList && remoteRepoList.length>0">
    <!-- <div fxLayout="row"> -->
    <div *ngFor="let repo of remoteRepoList | searchRepo:searchText; let idx=index">

      <mat-list-item (click)="importRemoteRepo(repo.id, idx)">
        <button [matTooltip]="'Import Steps form this Remote Repo'" matListIcon
          class="import red-bg white" mat-raised-button >
          <mat-icon>cloud_download</mat-icon>
        </button>

        <h3 matLine ><strong>{{repo.name}}</strong> </h3>
        <div class="showfile-spinner" *ngIf="showDownloadSpinner[idx]">
            <mat-spinner diameter="36" class="spinner-file" color="warn"></mat-spinner>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

    </div>

  </mat-list>


  <h3 class="red-text" *ngIf="errMsg">
    {{errMsg}}
  </h3>

</div>

<div mat-dialog-actions class="right-align">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
</div>