mat-toolbar {
    background-color: #cb0000;
    color: white;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}

.mat-tab-link {
    color: white;
    opacity: 0.9;
}

.mat-toolbar-row {
    height: 50px;
}

@media (max-width: 599px) {
    .mat-toolbar-row {
        height: 50px;
    }
}