#
# comment
#
brokerconfig.maxDiskUsage               95

# return formatted dates in JSON respones instead of seconds
# org.kie.server.json.format.date       true

# override KIE Server ID
# org.kie.server.id                     execution_server

# LDAP: check https://access.redhat.com/solutions/5100821 
# org.jbpm.ht.admin.user                processManager

# Oracle: check https://access.redhat.com/solutions/4460791
# org.kie.server.persistence.dialect   org.jbpm.persistence.jpa.hibernate.DisabledFollowOnLockOracle10gDialect

