#
# comment
#
#     lines starting with hash(#) will be ignored
  #   can have whitespace before hash(#)
  #   
# COMMENT:org.uberfire.nio.git.daemon.host      mygit.host
COMMENT:http.proxyHost                        proxy.server.net
COMMENT:http.proxyPort                        7456
COMMENT:https.proxyHost                       proxy.server.net
COMMENT:https.proxyPort                       7456
# https://access.redhat.com/solutions/4390511
brokerconfig.maxDiskUsage                     99
