.openfile {
    padding: 16px;
    padding-top: 8px;
    height: calc(98vh - 100px);
    overflow-y: auto;
}

.mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.mat-form-field {
    width: 100%;
    padding: 0 !important;
}

.margin-btm-16 {
    margin-bottom: 16px;
    display: block;
}

.mat-card {
    margin: 0;
    background-color: #eee;
    padding: 0;
    padding-right: 16px;
}

.right {
    text-align: right;
}

.add-button {
    text-align: right;
    margin-top: 16px;
}

mat-toolbar {
    background-color: black;
    color: #eee;
}

.mat-toolbar-multiple-rows {
    min-height: 50px;
}

.mat-tab-link {
    color: #fff;
    opacity: 0.9;
    min-width: 80px;
}

.mat-toolbar-row {
    height: 50px;
}

@media (max-width: 599px) {
    .mat-toolbar-row {
        height: 50px;
    }
}

.margin-top-8 {
    margin-top: 16px;
}

.scenario {
    margin-top: 20px;
}

.primary-color {
    color: #2196f3;
}

.fade {
    transition: opacity 0.6s;
    -webkit-transition: opacity 0.6s;
}

.opacity-1 {
    opacity: 1;
}

.opacity-2 {
    opacity: 0.2;
}

.error-font-size {
    font-size: 75%;
    margin-top: 3px;
}

.no-wrap {
    white-space: nowrap;
}

.title {
    margin-left: 16px;
    margin-top: 16px;
}

.title-text {
    vertical-align: top;
    padding-top: 2px;
    display: inline-block;
}

.header-logo {
    width: 132px;
    padding-right: 20px;
}

.repo {
    width: 100%;
    text-align: right;
    font-size: 75%;
    margin-right: 16px;
    margin-top: 16px;
}

.full-width {
    width: 100%;
}

.version {
    width: 100%;
    text-align: right;
    font-size: 60%;
    margin-right: 16px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
