# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven for kogito-quick-start-workshop

on:
  push:
    paths:
      - kogito-quick-start-workshop/**
  pull_request:
    paths:
      - kogito-quick-start-workshop/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-kogito-quick-start-workshop-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build kogito-quick-start-workshop
        run: |
          mvn -B clean install -f kogito-quick-start-workshop/apps/barista/pom.xml --no-transfer-progress
          mvn -B clean install -f kogito-quick-start-workshop/apps/coffee-shop/pom.xml --no-transfer-progress