.example-full-width {
    width: 100%;
}

.mat-card {
    margin: 8px 0;
    background-color: #eee;
    padding: 0;
}

.right {
    text-align: right;
    padding-right: 16px;
}

.mat-mini-fab {
    margin-top: 8px;
}

.mat-option {
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.align-right {
    float: right;
    margin-top: 8px;
}

h3 {
    margin: 8px 0 0 16px;
    font-size: 1em;
}

.primary-color {
    color: #2196f3
}
